button{
  background-color: var(--plato-purple);
  color: var(--plato-surface);
  border: 2px solid var(--plato-orange);
  box-shadow-blur: 0px 4px 15px 4px var(--plato-orange);
  border-radius: 8px;
  padding: 8px 16px;
  font-size: var(--ts-24);
}
