main{
  z-index: 2;

  .container{
    border-radius: 16px;
    padding: 24px;
    background-color: var(--plato-surface);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

